body {
  background-color: #f9f9f9;
  font-family: Arial, sans-serif;
  text-align: center;
  margin-top: 50px;
}

input {
  width: 200px;
  height: 30px;
  font-size: 18px;
  margin-bottom: 10px;
}

button {
  width: 45px;
  height: 45px;
  font-size: 18px;
  margin: 3px;
}